@{
    ViewData["Title"] = "Home Page";
}

    <div class="hero">
        <iframe src="https://www.youtube-nocookie.com/embed/ZEkwCGJ3o7M?enablejsapi=1&wmode=opaque&autoplay=1&mute=1&controls=0&loop=1&playlist=ZEkwCGJ3o7M"
                class="position-absolute w-100 h-100 top-0 start-0"
                title="Hero video"
                controls=0
                allow="autoplay; encrypted-media"
                allowfullscreen>
        </iframe>
        <div class="hero-text">
            <h3>Title of the anime</h3>
            <button class="btn btn-primary">Add to List</button>
        </div>
    </div>