@{
    ViewData["Title"] = "Home Page";
}
<h2 class="text-white pt-1"> Top Anime</h2>
<div class="hero"
     style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
            url('@Url.Content("~/images/frieren.avif")');">
    <div class="hero-text">
        <h3>Title of the anime</h3>
        <button class="btn btn-primary">Add to List</button>
    </div>
</div>

<div class=" d-flex gap-1">
    <div class="card">
        <img src="~/images/Gachiakuta.webp" class="object-fit-cover" />
        <div class="card-text">
            
            <h4>Title</h4>
            <a class="btn btn-success"> Add to list</a>
        </div>
    </div>
</div>