@page
@model LoginModel
@{
    ViewData["Title"] = "Log In";
}
<div class="container w-50 text-white pt-5">
        <section>
            <form id="account" method="post">
                <h2>Login</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="checkbox mb-3 d-flex justify-content-between">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>

                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="nav-link">Don't have an account? Register</a>
                    </p>
                </div>

                <div>
                    <button id="login-submit" type="submit" class="w-50 btn btn-lg btn-primary d-block mx-auto">Log in</button>
                </div>

            </form>
        </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
