* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  background-color: #1F1F1F;
  min-height:100vh;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.form-control::placeholder { 
    color: white;
    opacity: 1; 
}

.form-control:-ms-input-placeholder { 
    color: white;
}

.tiny{
    font-size:0.85rem;
}
.too-tiny {
    font-size: 0.65rem;
}
.gray_bg {
    background-color: #1F1F1F;
}
.hero{
    width:100vw;
    height:50rem;
    position:relative;
    margin-top:5rem;
    margin-bottom:15rem;
    aspect-ratio:16/9;
    overflow:hidden;
}
.hero-text {
    position: absolute;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    bottom:0;
    transform: translate(-50%, -50%);
    z-index:2;
}